{% import 'macros.html' as macro%} {% extends 'base.html'%} {% block content %}
<div class="jumbotron" style=" font-family: 'Caveat', cursive; font-size: medium ;background-image: url(../static/photos/three.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;height: 550px;">
    <h1 class="text-center pt-2">WELCOME TO LOHELI</h1>
    <p class="text-center h6">Writing, to me, is simply thinking through my fingers.<br>~Isaac Asimov</p>
</div>
<div class="row" style="font-family: 'Caveat', cursive;">
    <div class="col-md-9">
        <h1 class="text-center p-4 text-uppercase"><strong>Created Blogs </strong></h1>
        <div class="row">
            <div class="col-8 col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <div class="card-text show active">
                            {{macro.display(post)}}
                        </div>
                    </div>
                </div>
                <div class="card" id="hobbies">
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <div class="card-text">
                            {{macro.display(hobbies)}}
                        </div>
                    </div>
                </div>
                <div class="card" id="experiences">
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <div class="card-text">
                            {{macro.display(experiences)}}
                        </div>
                    </div>
                </div>
                <div class="card" id="skills">
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <div class="card-text">
                            {{macro.display(skills)}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 col-md-3">
                <blockquote class="blockquote" style="text-align: center;font-weight:normal;">
                    <p style="font-size:17px"><i class="fas fa-quote-left"></i><i>{{ quotes.quote }}</i><i class="fas fa-quote-right"></i></p>
                    <footer class="blockquote-footer" style="font-size: 17px;">{{quotes.author}}
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="background-image: url(../static/photos/four.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;">

    </div>
</div>

{% endblock %}